header {
	background: #0c002b;
	color: white;
	overflow: auto;
	padding: 20px 15px;

	.logo {
		float: left;
	}

	nav {
		float: right;

		a {
			color: white;
			text-decoration: none;
			text-transform: capitalize;
			padding: 7px 20px;
			font-size: 0.9rem;
			font-weight: 300;

			&:hover {
				color: #ff718e;
			}

			&.register-btn {
				background: $pink;
				padding: 7px 25px;
				text-align: center;
				color: white;
				border-radius: 5px;
			}
		}
	}
}
